h2{
    margin-left: 240px;
    font-size: 50px;
}
ul{
    margin-left: 200px;
    list-style-type: none;
    font-size: 30px;
}
img{
   width: 17%;
   height: 17%;
   position: relative;
   padding-left: 20%;
   display: inline;
}

